* {
  box-sizing: border-box;
}

.dynamic {
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  position: absolute;
  left: 17%;
  top: 10%;
}

#list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

#list li {
  padding: 10px;
}

#list li:nth-child(odd) {
  background-color: darkgray;
}

button {
  float: right;
  border: 3px solid black;
}

.divider {
  width: 90px;
  height: 1px;
  background: black;
  position: relative;
  right: 36%;
}

#submit {
  width: 60px;
  height: 30px;
  position: relative;
  left: 20%;
}

.add-books {
  margin-left: 30%;
  margin-top: 5%;
  display: none;
}

h1 {
  margin-left: 25%;
}

.navigation {
  border: 2px solid black;
  padding: 15px 10px;
}

.navigationbar {
  float: right;
}

.awe {
  font-size: 16px;
}

.listlink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px 10px;
  border-right: 2px solid black;
  cursor: pointer;
}

.addnewlink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px 10px;
  border-right: 2px solid black;
  cursor: pointer;
}

.contactlist {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px 10px;
  cursor: pointer;
}

.footer {
  border: 2px solid black;
  width: 99%;
  box-sizing: border-box;
  position: absolute;
  top: 90%;
}

.copyright {
  padding-left: 15px;
}

.contactdiv {
  display: none;
  position: absolute;
  left: 30%;
  top: 15%;
}

#title {
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
}

#author {
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
}

#datetime {
  float: right;
  position: relative;
  top: 5px;
  font-size: 18px;
}
